<mat-toolbar color="primary">

  <button mat-button [matMenuTriggerFor]="menu">Admin</button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item routerLink="/frame/customers">
      <mat-icon>group</mat-icon>
      Customers
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/frame/vendors">
      <mat-icon>group</mat-icon>
      Vendors
    </button>
    <button mat-menu-item routerLink="/frame/suppliers">
      <mat-icon>group</mat-icon>
      Suppliers
    </button>
    <button mat-menu-item routerLink="/frame/commodities">
      <mat-icon>group</mat-icon>
      Commodities
    </button>
    <button mat-menu-item routerLink="/frame/contracts">
      <mat-icon>group</mat-icon>
      Contracts
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/frame/timeSlots">
      <mat-icon>group</mat-icon>
      Time Slots
    </button>
    <button mat-menu-item routerLink="/frame/statusTypes">
      <mat-icon>group</mat-icon>
      Status Types
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/frame/sites">
      <mat-icon>group</mat-icon>
      Sites
    </button>

    <button mat-menu-item routerLink="/frame/fleets">
      <mat-icon>group</mat-icon>
      Fleets
    </button>
    <button mat-menu-item routerLink="/frame/vehicles">
      <mat-icon>group</mat-icon>
      Vehicles
    </button>

  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>

