<div class="app-padding-default">

  <mat-list fxFlex="60" fxFlex.lt-md="100">

    <h3 mat-subheader>USERS</h3>

    <mat-list-item *ngFor="let user of users; let i = index">
      <h4 mat-line>{{user.name?user.name: 'Name'}} {{user.surname ? user.surname: 'Surname'}} - {{user.role.name}}</h4>
      <p mat-line>{{user.email}}</p>
      <p mat-line *ngIf="user.customer">Customer:   {{user.customer.name}}</p>
      <button mat-icon-button
              matTooltip="Edit User"
              (click)="editUser(user, i)">
        <mat-icon mat-list-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete user"
              (click)="deleteUser(user, i)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="app-padding-default">

    <button mat-raised-button
            matTooltip="Add User"
            (click)="addUser()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>
