<h1 mat-dialog-title>Commodity</h1>

<div mat-dialog-content>

  <form [formGroup]="commodityForm" fxLayout="row" fxLayout.lt-md="column" >

    <mat-form-field fxFlex appearance="outline">

      <mat-label>Commodity Name</mat-label>

      <input matInput
             cdkFocusInitial
             type="text"
             placeholder="Commodity Name"
             formControlName="name">
      <mat-error
        *ngIf="commodityForm.get('name').hasError('required') && commodityForm.get('name').touched">
        Name is required.
      </mat-error>

    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">

      <mat-label>Max Tons Per Day</mat-label>

      <input matInput
             type="text"
             placeholder="Max Tons Per Day"
             formControlName="maxTonsPerDay">
      <mat-error
        *ngIf="commodityForm.get('maxTonsPerDay').hasError('required') && commodityForm.get('maxTonsPerDay').touched">
        Max Tons Per Day is required.
      </mat-error>

    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions>

  <button mat-raised-button
          color="primary"
          [disabled]="!commodityForm.valid"
          type="button"
          (click)="submit()">OK
  </button>

  <button mat-raised-button
          type="button"
          mat-dialog-close>Cancel
  </button>

</div>

