<h1 mat-dialog-title>Customer</h1>

<div mat-dialog-content>

  <form [formGroup]="customerForm">

      <mat-form-field fxFlex appearance="outline">

        <mat-label>Customer Name</mat-label>

        <input matInput
               cdkFocusInitial
               type="text"
               placeholder="Customer Name"
               formControlName="name">
        <mat-error
          *ngIf="customerForm.get('name').hasError('required') && customerForm.get('name').touched">
          Name is required.
        </mat-error>

      </mat-form-field>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          [disabled]="!customerForm.valid"
          type="button"
          (click)="submit()">OK
  </button>

  <button mat-raised-button
          type="button"
          mat-dialog-close>Cancel
  </button>
</div>
