@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Common.GetFirstName(User.Identity.GetUserId()) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li style="color:#999999;margin-right:15px"><a href="javascript:document.getElementById('logoutForm').submit()" style="float:left">Log off</a><i class="fas fa-power-off off-icon"></i></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="color:#999999">
            <a href="@Url.Action("Login", "Account")" id="loginLink" style="float:left">Login</a><i class="fas fa-power-off off-icon"></i>
        </li>
    </ul>
}
