

<div class="app-padding-default">

  <mat-list fxFlex="60" fxFlex.lt-md="100" >

    <h3 mat-subheader>SUPPLIERS</h3>

    <mat-list-item *ngFor="let supplier of suppliers; let i = index">
      <h4 mat-line>{{supplier.name}}</h4>
      <p mat-line>{{supplier.creationDate}}</p>
      <button mat-icon-button
              matTooltip="Edit supplier"
              (click)="editSupplier(supplier, i)">
        <mat-icon mat-list-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete supplier"
              (click)="deleteSupplier(supplier, i)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="app-padding-default">

    <button mat-raised-button
            matTooltip="Add supplier"
            (click)="addSupplier()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>
