@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div style="overflow: hidden">
    <h2 class="page-heading">@ViewBag.Title</h2>
</div>

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

