
<div class="app-padding-default">

  <mat-list fxFlex="60" fxFlex.lt-md="100" >

    <h3 mat-subheader>CUSTOMERS</h3>

    <mat-list-item *ngFor="let customer of customers; let i = index">
      <h4 mat-line>{{customer.name}}</h4>
      <p mat-line>
        <span class="app-label">Created:</span>
        {{customer.createdBy.name}}
        {{customer.createdBy.surname}} |
        {{customer.creationDate | date :
        'dd/MMM/yyyy - HH:mm'}}

        <span class="app-label app-margin-left ">Modified:</span>
        {{customer.modifiedBy.name}}
        {{customer.modifiedBy.surname}} |
        {{customer.modificationDate| date :
        'dd/MMM/yyyy - HH:mm'}}
      </p>
      <button mat-icon-button
              matTooltip="Edit Customer"
              (click)="editCustomer(customer, i)">
        <mat-icon mat-list-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete Customer"
              (click)="deleteCustomer(customer, i)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="app-padding-default">

    <button mat-raised-button
            matTooltip="Add Customer"
            (click)="addCustomer()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
