
<div class="app-padding-default">
  <mat-list>

    <h3 mat-subheader>CUSTOMERS</h3>

    <mat-list-item *ngFor="let customer of customers; let i = index">
      {{customer.name}}

      <button mat-icon-button
              matTooltip="Edit Customer"
              (click)="editCustomer(customer, i)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete customer"
      (click)="deleteCustomer(customer, i)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-list-item>
  </mat-list>

  <button mat-icon-button
          matTooltip="Add Customer"
          (click)="addCustomer()">
    <mat-icon>add</mat-icon>
  </button>
</div>
