

<div class="app-padding-default">

  <mat-list fxFlex="60" fxFlex.lt-md="100" >

    <h3 mat-subheader>SITES</h3>

    <mat-list-item *ngFor="let site of sites; let i = index">
      <h4 mat-line>{{site.name}}</h4>
      <p mat-line>
        <b>Created:</b>
        {{site.createdBy.name}}
        {{site.createdBy.surname}} |
        {{site.creationDate | date :
        'DD/MMM/YYYY - HH:mm'}}

        <b style="padding-left: 24px">Modified:</b>
        {{site.modifiedBy.name}}
        {{site.modifiedBy.surname}} |
        {{site.modificationDate| date :
        'DD/MMM/YYYY - HH:mm'}}
      </p>
      <button mat-icon-button
              matTooltip="Edit site"
              (click)="editSite(site, i)">
        <mat-icon mat-list-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete site"
              (click)="deleteSite(site, i)">
        <mat-icon>delete</mat-icon>
      </button>
    <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="app-padding-default">

    <button mat-raised-button
            matTooltip="Add site"
            (click)="addSite()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
