<mat-toolbar color="primary">
</mat-toolbar>

<div class="container">

  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">

    <mat-card *ngIf="!isEmailSend"
              class="mat-elevation-z4"
              fxLayout="column" fxLayoutAlign="start center" >

      <img src="./assets/genius_fom_logo.png" class="logo-large">

      <mat-card-header>
        <mat-card-title>Enter new password for account:</mat-card-title>
        <mat-card-title>{{passwordRecoveryEmail}}</mat-card-title>
      </mat-card-header>

      <form [formGroup]="recoveryForm" class="logInForm">

        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Password"
                 type="password"
                 formControlName="password">
          <mat-error *ngIf="password.invalid">
            {{getPasswordErrorMessage()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Confirm Password"
                 type="password"
                 formControlName="confirmPassword">
          <mat-error *ngIf="confirmPassword.invalid">
            {{getConfirmPasswordErrorMessage()}}
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="isError">
          {{errorMessage.toString()}}
        </mat-error>

      </form>


      <button
        mat-raised-button
        color="primary"
        (click)="onPasswordChange()"
        [disabled]="!recoveryForm.valid">Set Password
      </button>

    </mat-card>


  </div>
</div>
