@{
    ViewBag.Title = "Users";
}

<div ng-app="ts" ng-controller="usersController">

    <div style="overflow: hidden">
        <h2 class="page-heading">@ViewBag.Title</h2>
        <button class="btn btn-default add-button" onclick="OpenDialog('#modalUser',this)" ng-click="addUser()">Add User <i class="fas fa-plus"></i></button>
    </div>

    <div class="main-body">
        <div>
            <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
                <tr ng-repeat="c in $data">
                    <td class="list-edit" ng-click="getUser(c.m_Item1.Id)">
                        <i class="fas fa-pen-alt cursor" onclick="OpenDialog('#modalUser',this)"></i>
                    </td>
                    <td title="'Name'" filter="nameFilterDef" sortable="'m_Item1.LastName'">
                        <span class="ng-cloak">{{c.m_Item1.FirstName}} {{c.m_Item1.LastName}}</span>
                    </td>
                    <td title="'Email'" filter="{ 'm_Item2.Email': 'text'}" sortable="'m_Item2.Email'">
                        <span class="ng-cloak">{{c.m_Item2.Email}}</span>
                    </td>
                    <td title="'Role'" filter="{ m_Item3: 'text'}" sortable="'m_Item3'">
                        <span class="ng-cloak">{{c.m_Item3}}</span>
                    </td>
                    <td title="'Customer'" filter="{ 'm_Item1.Customer.Name': 'text'}" sortable="'m_Item1.Customer.Name'" ng-if="admin == true">
                        <span class="ng-cloak">{{c.m_Item1.Customer.Name}}</span>
                    </td>
                    <td title="'Site'" filter="{ 'm_Item1.Site.Name': 'text'}" sortable="'m_Item1.Site.Name'">
                        <span class="ng-cloak">{{c.m_Item1.Site.Name}}</span>
                    </td>
                    <td title="'Fleet'" filter="{ 'm_Item1.Fleet.Name': 'text'}" sortable="'m_Item1.Fleet.Name'">
                        <span class="ng-cloak">{{c.m_Item1.Fleet.Name}}</span>
                    </td>
                    <td title="'Enabled'" filter="{ 'm_Item1.IsEnabled': 'text'}" sortable="'m_Item1.IsEnabled'" class="list-date">
                        <span class="ng-cloak">{{c.m_Item1.IsEnabled ? 'Yes' : 'No'}}</span>
                    </td>
                    <td title="'Created'" filter="{ 'm_Item1.CreatedDate': 'text'}" sortable="'m_Item1.CreatedDate'" class="list-date">
                        <span class="ng-cloak">{{c.m_Item1.CreatedDate | date:'dd-MMM-yyyy'}}</span>
                    </td>
                    <td title="'Modified'" filter="{ 'm_Item1.ModifiedDate': 'text'}" sortable="'m_Item1.ModifiedDate'" class="list-date">
                        <span class="ng-cloak">{{c.m_Item1.ModifiedDate | date:'dd-MMM-yyyy'}}</span>
                    </td>
                    <td class="list-delete">
                        <div class="glyphicon glyphicon-trash delete-button cursor" ng-click="prepareDelete(c.m_Item1.Id)"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="modalUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 id="dialog-link-header" class="modal-title heading"><span class="ng-cloak">{{modalHeader}}</span></h2>
                </div>
                <form name="form" id="form">
                    <div class="modal-body">
                        <div class="row form-row">
                            <div class="col-md-3">
                                <div class="form-label">First Name</div>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="FirstName" class="form-control" maxlength="50" ng-model="user.FirstName" value="{{user.FirstName}}" required />
                                <div ng-show="(invalid || form.FirstName.$dirty || (form.FirstName.$pristine && form.FirstName.$touched)) && form.FirstName.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <div class="form-label">Last Name</div>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="LastName" class="form-control" maxlength="50" ng-model="user.LastName" value="{{user.LastName}}" required />
                                <div ng-show="(invalid || form.LastName.$dirty || (form.LastName.$pristine && form.LastName.$touched)) && form.LastName.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <div class="form-label">Email</div>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Email" class="form-control" maxlength="250" ng-model="email" value="{{email}}" required />
                                <div ng-show="(invalid || form.Email.$dirty || (form.Email.$pristine && form.Email.$touched)) && form.Email.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <div class="form-label">Role</div>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control form-select" ng-model="role" ng-change="getFleets(user.CustomerId);getSites(user.CustomerId)" required>
                                    <option value="Administrator" ng-show="admin == true">Administrator</option>
                                    <option value="CustomerAdmin">Customer Admin</option>
                                    <option value="CustomerUser">Customer User</option>
                                    <option value="SiteUser">Site User</option>
                                    <option value="Driver">Driver</option>
                                </select>
                                <div ng-show="(invalid || form.Email.$dirty || (form.Email.$pristine && form.Email.$touched)) && form.Email.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row" ng-show="role == 'CustomerUser' || role == 'CustomerAdmin' || role == 'SiteUser' || role == 'Driver'" ng-if="admin == true">
                            <div class="col-md-3">
                                <div class="form-label">Customer</div>
                            </div>
                            <div class="col-md-9">
                                <select name="CustomerId" class="form-control form-select" ng-model="user.CustomerId" ng-options="x.Id as x.Name for x in customers" ng-change="getFleets(user.CustomerId);getSites(user.CustomerId)" ng-required="admin == true && (role == 'CustomerUser' || role == 'CustomerAdmin' || role == 'SiteUser' || role == 'Driver')"></select>
                                <div ng-show="(invalid || form.Name.$dirty || (form.Name.$pristine && form.Name.$touched)) && form.CustomerId.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row" ng-show="role == 'SiteUser'">
                            <div class="col-md-3">
                                <div class="form-label">Site</div>
                            </div>
                            <div class="col-md-9">
                                <select name="SiteId" class="form-control form-select" ng-model="user.SiteId" ng-options="x.Id as x.Name for x in sites" ng-required="role == 'SiteUser'"></select>
                                <div ng-show="(invalid || form.Name.$dirty || (form.Name.$pristine && form.Name.$touched)) && form.SiteId.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row" ng-show="role == 'Driver'">
                            <div class="col-md-3">
                                <div class="form-label">Fleet</div>
                            </div>
                            <div class="col-md-9">
                                <select name="FleetId" class="form-control form-select" ng-model="user.FleetId" ng-options="x.Id as x.Name for x in fleets" ng-required="role == 'Driver'" ng-change="getVehicles(user.FleetId)"></select>
                                <div ng-show="(invalid || form.Name.$dirty || (form.Name.$pristine && form.Name.$touched)) && form.FleetId.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row" ng-show="role == 'Driver'">
                            <div class="col-md-3">
                                <div class="form-label">Vehicles</div>
                            </div>
                            <div class="col-md-9">
                                <select multiple name="Vehicles" class="form-control form-select" ng-model="vehicleSelect" ng-options="x.Id as x.Rego for x in vehicles"></select>
                            </div>
                        </div>
                        <div class="row form-row" ng-show="new == 'true'">
                            <div class="col-md-3">
                                <div class="form-label">Password</div>
                            </div>
                            <div class="col-md-9">
                                <input type="password" name="Password" class="form-control" maxlength="50" ng-model="password" value="{{password}}" ng-required="new == 'true'" />
                                <div ng-show="(invalid || form.Password.$dirty || (form.Password.$pristine && form.Password.$touched)) && form.Password.$error.required" class="form-required">Required</div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-3">
                                <div class="form-label">Enabled</div>
                            </div>
                            <div class="col-md-9">
                                <input type="checkbox" class="form-control form-checkbox" ng-model="user.IsEnabled" />
                            </div>
                        </div>
                        <div class="row form-error">
                            <span class="ng-cloak">{{modalError}}</span>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center;padding:10px;margin-top:0px">
                        <button type="button" class="btn btn-primary" ng-click="saveUser()">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>

                <div ng-show="createdBy != ''">
                    <hr class="audit-hr" />

                    <div class="audit-div">
                        <div>
                            <div class="audit-label">
                                Created:
                            </div>
                            <div class="audit-value">
                                {{user.CreatedDate | date:'dd-MMM-yyyy hh:mm a'}} | {{createdBy}}
                            </div>
                        </div>

                        <div>
                            <div class="audit-label">
                                Modified:
                            </div>
                            <div class="audit-value">
                                {{user.ModifiedDate | date:'dd-MMM-yyyy hh:mm a'}} | {{modifiedBy}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popover-delete">
        <div class="popover popover-delete">
            <div class="arrow"></div>
            <h3 class="popover-title">Delete</h3>
            <div id="popover-content" class="popover-content"></div>
        </div>
    </div>

    <div id="popover-delete-body" class="hide">
        <div style="display:flex;margin-bottom:5px">Delete this User?</div>
        <div style="display:flex;justify-content:center;">
            <button id="btnOk" type="button" class="btn btn-default quote-item-delete glyphicon glyphicon-ok" style="margin-right:5px" ng-click="deleteUser()"></button>
            <button id="btnCancel" type="button" class="btn btn-default quote-item-delete glyphicon glyphicon-remove" quoteId="" onclick="PopOverClose('.list-delete');"></button>
        </div>
    </div>

</div>