<h1 mat-dialog-title>Fleet</h1>

<div mat-dialog-content>

  <form [formGroup]="fleetForm" fxLayout="column">

    <mat-form-field fxFlex appearance="outline">

      <mat-label>Fleet Name</mat-label>

      <input matInput
             cdkFocusInitial
             type="text"
             placeholder="Fleet Name"
             formControlName="name">
      <mat-error
        *ngIf="fleetForm.get('name').hasError('required') && fleetForm.get('name').touched">
        Name is required.
      </mat-error>

    </mat-form-field>

    <!--customer-->
    <mat-form-field *ngIf="showCustomer" fxFlex appearance="outline">

      <mat-label>Customer</mat-label>

      <mat-select #option
                  placeholder="Select Customer"
                  formControlName="customer"
                  [compareWith]="compare">

        <mat-option *ngFor="let cust of customers" [value]="cust">
          {{cust.name}}
        </mat-option>

      </mat-select>

      <mat-error
        *ngIf="fleetForm.get('customer').hasError('required') && fleetForm.get('customer').touched">
        Customer is required.
      </mat-error>

    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions>

  <button mat-raised-button
          color="primary"
          [disabled]="!fleetForm.valid"
          type="button"
          (click)="submit()">OK
  </button>

  <button mat-raised-button
          type="button"
          mat-dialog-close>Cancel
  </button>

</div>
