<mat-toolbar color="primary">
</mat-toolbar>
<div>

  <form (ngSubmit)="onSignIn(f)" #f="ngForm">
    <mat-form-field>
      <input matInput
             placeholder="Login"
             type="text"
             name="login"
             ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Password"
             type="password"
             name="password" ngModel>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Sign In</button>
  </form>


</div>
