/* You can add global styles to this file, and also import other style files */
@import "/assets/tsm-theme.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
}

.app-spacer {
  flex: 1 1 auto;
}

.app-padding-default {
  padding: 16px;
}

.app-padding-small {
  padding: 8px;
}

.app-full-width {
  width: 100%;
}

.logo-large {
  margin: 8px;
  height: 250px;
  // width: 184px;
}

.app-padding-right {
  padding-right: 16px;
}

.app-margin-left {
  margin-left: 24px;
}

.app-margin-right {
  margin-left: 24px;
}

.app-label {
  opacity: 0.7;
}
