
<div class="app-container">
  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="mat-elevation-z4 app-padding-default">

      <img src="./assets/genius_timeslot_logo_large.png" class="logo-large">

      <mat-card-header>
        <mat-card-title>Forgot your password?</mat-card-title>
        <mat-card-subtitle>Enter your email address to reset your password.</mat-card-subtitle>
      </mat-card-header>

      <form class="logInForm" [formGroup]="resetForm"  >

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            email="true"
            placeholder="Email"
            formControlName="email">
          <mat-error
            *ngIf="(resetForm.get('email').hasError('required')|| resetForm.get('email').hasError('email')) && resetForm.get('email').touched">
            Provide valid email.
          </mat-error>

        </mat-form-field>

      </form>

      <div class="app-padding-small">

        <button mat-raised-button
                (click)="resetPassword()"
                color="primary"
                [disabled]="resetForm.invalid">Reset password
        </button>

      </div>

      <div class="app-padding-small">
        <a mat-raised-button routerLink="../login" color="primary">Back to Login</a>
      </div>

    </mat-card>


    <mat-card *ngIf="isEmailSend"
              class="mat-elevation-z4"
              fxLayout="column" fxLayoutAlign="center center">

      <img src="./assets/genius_timeslot_logo_large.png" class="logo-large">

      <mat-card-header>
        <mat-card-title>Check your email for further instructions.</mat-card-title>
      </mat-card-header>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <a mat-raised-button
           routerLink="../login"
           color="primary">Back to Login
        </a>
      </mat-card-actions>

    </mat-card>
  </div>
</div>



