body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*input.ng-invalid.ng-dirty {
    border-color: #db6b6b;
}*/

/*input.ng-invalid.ng-pristine.ng-touched {
    border-color: #db6b6b;
}*/


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-body {
    font-size: 12px;
}

.page-heading {
    float: left;
    text-transform: uppercase;
    color: #968b83;
}

.ng-cloak {
    display: none !important;
}

.ng-table-pager {
    display: none;
}

/* MENU */

.icon-top-menu-item {
    display: flex !important;
    align-items: center;
    padding-left: 10px;
    color: #FFF;
}

.icon-top-menu-item > a {
    padding-left: 5px !important;
}

.icon-top-menu-item > svg {
    width: 20px !important;
    height: 20px;
}

.icon-menu-item {
    display: flex !important;
    align-items: center;
    padding-left: 10px;
}

.icon-menu-item > a {
    padding-left: 10px !important;
}

.icon-menu-item > svg {
    width: 30px !important;
    height: 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
}

.dropdown-menu > li:hover, .dropdown-menu > li:focus {
    background-color: #cecaca;
}

/* LIST */

.list-edit {
    text-align: center;
    width: 40px;
}

.list-delete {
    text-align: center;
    width: 40px;
}

.list-date {
    text-align: center;
    width: 100px;
}


/* FORM */

.form-horizontal .control-label {
    text-align: left;
}

.form-label {
    margin-top: 8px;
}

.form-checkbox {
    width: unset !important;
}

.form-error {
    text-align: center;
    color: #db6b6b;
}

.form-row {
    margin-bottom: 5px;
}

.form-select {
    padding-left: 6px !important;
}

.form-required {
    color: #db6b6b;
    margin-top: 2px;
    font-size: 13px;
}

/* TIMESLOT */

.timeslot-select-label {
    width: 80px;
    text-align: right;
    padding-right: 10px
}

.timeslot-cell {
    height: 60px;
}

.timeslot-time {
    font-size: 11px;
}

.timeslot-details {
    float: left;
}

.timeslot-status {
    width: 140px;
    float: right;
    height: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
}

.timeslot-car {
    position: absolute;
    right: 5px;
    top: 7px;
}

.timeslot-edit {
    position: absolute;
    left: 5px;
    top: 7px;
}

.timeslot-created {
    font-size: 10px;
}

.timeslot-info {
    float: right;
    width: 30px;
    height: 30px;
    padding-left: 11px;
    padding-top: 4px;
    display: none;
}

.timeslot-info-close {
    float: right;
    margin-top: -5px;
    margin-right: -10px;
    width: 15px;
    height: 15px;
    padding: 0px;
    background-color: #f7f7f7;
}

.delivery-details {
    float: left;
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
}

.timeslot > table > thead > tr > th {
    display: none;
}

.timeslot-select-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.timeslot-select-div .input-group {
    width: 250px;
    margin-bottom: 5px;
}

.timeslot-select-div .input-group-addon {
    width: 50px;
}

.timeslot-date {
    width: 100% !important;
    background-color: #FFF !important;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    -webkit-appearance: none;
}

.timeslot-select {
    width: 100% !important;
}

.timeslot-select > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 500px) {
    .timeslot-select-div > div {
        width: 100%;
    }

    .timeslot-select-div .input-group {
        width: 100%;
    }

    .audit-div {
        font-size: 10px !important;
        flex-direction: column;
        align-items: center;
    }

    .audit-div > div {
        display: flex;
    }
}

@media (max-width: 980px) {
    .timeslot-info {
        display: block;
    }

    .delivery-details {
        display: none;
    }
}

/*AUDIT*/
.audit-div {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 15px;
}

.audit-label {
    font-weight: bold;
    margin-right: 15px;
    width: 50px;
}

.audit-value {
    margin-right: 15px;
}

.audit-hr {
    margin-top: 0;
}


/* BOOTSTRAP */

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.cursor {
    cursor: pointer;
}

.ng-table {
    border-collapse: separate;
    border-left-width: 0px;
    border-bottom-width: 1px;
}

.ng-table thead > tr > th {
    border-bottom-width: 0px;
    border-right-width: 0px;
}

.ng-table tbody > tr > td {
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.timeslot-table {
    border-top-width: 0px !important;
}

/*.popover-title {
    display:block !important;
}*/

/* BUTTONS */
.add-button {
    float: right;
    margin-top: 20px;
}

.delete-button {
    width: 30px;
}

/* ICONS */

.off-icon {
    float: right;
    margin-top: 18px;
    margin-left: -7px;
}