

<div class="app-padding-default">

  <mat-list fxFlex="60" fxFlex.lt-md="100" >

    <h3 mat-subheader>CONTRACTS</h3>

    <mat-list-item *ngFor="let contract of contracts; let i = index">
      <h4 mat-line>{{contract.name}}</h4>
      <p mat-line>
        <span> <span class="app-label">Commodity:</span>  {{contract.commodity.name}} </span>
        <span class="app-margin-left"> <span class="app-label">Vendor:</span>  {{contract.vendor.name}} </span>
        <span class="app-margin-left"> <span class="app-label">Supplier:</span>  {{contract.supplier.name}}  </span>
      </p>

      <p mat-line>
        <span class="app-label">Created:</span>
        {{contract.createdBy.name}}
        {{contract.createdBy.surname}} |
        {{contract.creationDate | date :
        'dd/MMM/yyyy - HH:mm'}}

        <span class="app-label app-margin-left ">Modified:</span>
        {{contract.modifiedBy.name}}
        {{contract.modifiedBy.surname}} |
        {{contract.modificationDate| date :
        'dd/MMM/yyyy - HH:mm'}}
      </p>
      <button mat-icon-button
              matTooltip="Edit contract"
              (click)="editContract(contract, i)">
        <mat-icon mat-list-icon>edit</mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Delete contract"
              (click)="deleteContract(contract, i)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="app-padding-default">

    <button mat-raised-button
            matTooltip="Add contract"
            (click)="addContract()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>

