<h1 mat-dialog-title>Time Slot</h1>

<div mat-dialog-content>

  <form [formGroup]="timeSlotForm" fxLayout="row" fxLayout.lt-md="column" >

    <mat-form-field fxFlex appearance="outline">

      <mat-label>Start Time</mat-label>

      <input matInput
             #start
             cdkFocusInitial
             type="text"
             placeholder="Start time"
             formControlName="startTime">
      <button mat-icon-button matSuffix (click)="timePickerOpen(start.value, 'startTime')">
        <mat-icon>schedule</mat-icon>
      </button>
      <mat-error
        *ngIf="(timeSlotForm.get('startTime').hasError('required') ||
        timeSlotForm.get('startTime').hasError('pattern')) && timeSlotForm.get('startTime').touched">
        Start Time is required and must be in 00:00 form.
      </mat-error>

    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">

      <mat-label>End Time</mat-label>

      <input matInput
             #end
             cdkFocusInitial
             type="text"
             placeholder="End time"
             formControlName="endTime">

      <button mat-icon-button matSuffix (click)="timePickerOpen(end.value, 'endTime')">
        <mat-icon>schedule</mat-icon>
      </button>

      <mat-error
        *ngIf="(timeSlotForm.get('endTime').hasError('required') ||
        timeSlotForm.get('endTime').hasError('pattern') ) && timeSlotForm.get('endTime').touched">
        End Time is required and must be on 00:00 form.
      </mat-error>

    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          [disabled]="!timeSlotForm.valid"
          type="button"
          (click)="submit()">OK
  </button>

  <button mat-raised-button
          type="button"
          mat-dialog-close>Cancel
  </button>
</div>
